html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* --Colors
top button color -#B32E2E */
body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  max-width: 2000px; }

body::after {
  content: "";
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: #505050;
  opacity: .7;
  z-index: -1; }

.container {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.subscribe {
  color: white;
  float: right;
  margin-right: 40%;
  text-decoration: none;
  margin-top: -4%;
  font-family: arial; }

.button-list {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-left: 0; }
  .button-list::after {
    clear: both;
    content: "";
    display: table; }

.button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .button:last-child {
    margin-right: 0; }

.buttons {
  width: 100%;
  height: 3em;
  background-color: #B32E2E;
  padding-left: 0;
  color: white;
  font-size: 14px; }

.top-right-buttons {
  margin-top: 80px; }

.top-pic-container {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto; }
  .top-pic-container::after {
    clear: both;
    content: "";
    display: table; }

.powell-operalta {
  height: 240px;
  background-image: url("../images/peralta-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25.75em;
  margin-top: 4%;
  position: absolute;
  margin-left: 13%; }

.top-picture {
  border: 10px solid white;
  height: 351px;
  background-image: url("../images/top-image.png");
  background-position: center;
  background-size: cover;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .top-picture:last-child {
    margin-right: 0; }

.dots-middle {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 39%; }
  .dots-middle::after {
    clear: both;
    content: "";
    display: table; }

.dot {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  padding: 38 right;
  color: white; }
  .dot:last-child {
    margin-right: 0; }

.articles {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%; }
  .articles::after {
    clear: both;
    content: "";
    display: table; }

.article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 2.35765%;
  background-color: white;
  height: 23.125em;
  font-family: "Arial";
  font-size: 16px; }
  .article:last-child {
    margin-right: 0; }

.date {
  color: #BCBCBC; }

.read-more-button {
  color: red;
  border: none;
  background-color: white;
  margin-left: 37%;
  letter-spacing: 1px; }

.boarder-pics {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  height: 513px; }
  .boarder-pics::after {
    clear: both;
    content: "";
    display: table; }

.boarder-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-image: url("../images/sk8er-4.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 4px solid white; }
  .boarder-1:last-child {
    margin-right: 0; }

.boarder-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-image: url("../images/sk8er-3.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 4px solid white; }
  .boarder-2:last-child {
    margin-right: 0; }

.boarder-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  background-image: url("../images/sk8er-2.png");
  background-position: 78%;
  background-size: cover;
  height: 470px;
  background-repeat: no-repeat;
  border: 4px solid white;
  float: right; }
  .boarder-3:last-child {
    margin-right: 0; }

.boarder-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  background-image: url("../images/sk8er-1.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 4px solid white;
  margin-top: 2%; }
  .boarder-4:last-child {
    margin-right: 0; }

.sk8-boards {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  background-color: #FCFCFC; }
  .sk8-boards::after {
    clear: both;
    content: "";
    display: table; }

.board-list {
  list-style-type: none; }

.board {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 7.87811%;
  margin-top: 2%; }
  .board:last-child {
    margin-right: 0; }

.sk8-image {
  border-radius: 25%; }

.bottom-section {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  height: 360px;
  border: 1px solid black;
  background-color: white;
  font-family: "Arial";
  margin-top: 3%; }
  .bottom-section::after {
    clear: both;
    content: "";
    display: table; }

fieldset {
  border: none; }

.contact-us {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 53.08608%; }
  .contact-us:last-child {
    margin-right: 0; }

.bottom-form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 44.55627%;
  margin-top: 4%;
  width: 100%;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid #888888; }
  .bottom-form:last-child {
    margin-right: 0; }

.name-email {
  height: 40px; }

.message {
  height: 110px; }

.submit-button {
  width: 25%;
  height: 38px;
  background-color: #B43236;
  color: white;
  margin-left: 73.5%;
  margin-top: 1.5%; }

.social-button-list {
  list-style-type: none;
  margin-left: -8%; }

.social {
  float: left;
  padding-right: 0.5%; }

.social-button {
  height: 2.5em;
  width: 2.5em; }

.ls-social-button {
  display: inline;
  position: absolute;
  right: 14.2%;
  top: -2.5%; }

.social-btns {
  display: inline-block; }

.soc-btn {
  height: 65px;
  width: 65px; }

.fbook {
  background-color: #445897; }

.twitter {
  background-color: #6A8DC7; }

.youtube {
  background-color: #B32E2E; }

.wifi {
  background-color: #CC9034; }

.facebook {
  background-color: #505050; }

.tweet {
  background-color: #797979; }

.tubeyou {
  background-color: #747474; }

.whyfy {
  background-color: #AFAFAF; }

input::-webkit-input-placeholder {
  padding-left: 2%; }

input::-moz-placeholder {
  padding-left: 2%; }

input:-moz-placeholder {
  padding-left: 2%; }

input:-ms-input-placeholder {
  padding-left: 2%; }

.message::-webkit-input-placeholder {
  position: relative;
  top: -35%;
  right: 0%; }

.message::-moz-placeholder {
  position: relative;
  top: -35%;
  right: 0%; }

.message:-moz-placeholder {
  position: relative;
  top: -35%;
  right: 0%; }

.message:-ms-input-placeholder {
  position: relative;
  top: -35%;
  right: 0%; }

.skater-button {
  height: 100px;
  width: 225px;
  background-color: #B32E2E;
  color: white;
  font-size: 15px; }

.skateboarder-button {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 68%;
  margin-left: -2%; }
  @media screen and (min-width: 789px) {
    .skateboarder-button {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%; }
      .skateboarder-button:last-child {
        margin-right: 0; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 0 51px 30px;
  border-color: transparent transparent transparent #B32E2E;
  margin-left: 100%;
  margin-top: -45%; }
