@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$mobile: new-breakpoint(max-width 740px);
/* --Colors
top button color -#B32E2E */

body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  max-width: 2000px;

    }
  body::after {
    content:"";
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #505050;
    opacity: .7;
    z-index: -1;
  }
  .container {
    @include outer-container(1030px);
  }
.subscribe {
  color: white;
  float: right;
  margin-right: 40%;
  text-decoration: none;
  margin-top: -4%;
  font-family: arial;
}
.button-list {
  @include outer-container(1030px);
  list-style-type: none;
  padding-left: 0;
}
.button {
  @include span-columns(3);
}

.buttons {
  width: 100%;
  height: em(48);
  background-color: #B32E2E;
  padding-left: 0;
  color: white;
  font-size: 14px;

}
.top-right-buttons {
  margin-top: 80px;
}
.top-pic-container {
  @include outer-container(1030px);
}
.powell-operalta {
  height: 240px;
  background-image: url("../images/peralta-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: em(412);
  margin-top: 4%;
  position: absolute;
  margin-left: 13%

}

.top-picture {
  border: 10px solid white;
  height: 351px;
  background-image: url("../images/top-image.png");
  background-position: center;
  background-size: cover;
  @include span-columns(12);
}
.dots-middle {
  @include outer-container(1030px);
  margin-left: 39%;
}
.dot {
  @include span-columns(1);
  @include pad(38 right);
  color: white;

}
.articles {
  @include outer-container(1030px);
  margin-bottom: 4%;
}

.article {
  @include span-columns(4);
  @include pad();
  background-color: white;
  height: em(370);
  font-family: "Arial";
  font-size: 16px;

  @include media ($mobile) {
    @include span-columns(12);
    @include omega;
    margin-top: 3%;
}
}

.date {
  color: #BCBCBC;
}

.read-more-button {
  color: red;
  border: none;
  background-color: white;
  margin-left: 37%;
  letter-spacing: 1px;
}

.boarder-pics {
  @include outer-container(1030px);
  height: 513px;
}
.boarder-1 {
  @include span-columns(4);
  background-image: url("../images/sk8er-4.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 4px solid white;
}
.boarder-2 {
  @include span-columns(4);
  background-image: url("../images/sk8er-3.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 4px solid white;

}
.boarder-3 {
  @include span-columns(4);
  @include omega;
  background-image: url("../images/sk8er-2.png");
  background-position: 78%;
  background-size: cover;
  height: 470px;
  background-repeat: no-repeat;
  border: 4px solid white;
  float: right;
}
.boarder-4 {
  @include span-columns(8);
  background-image: url("../images/sk8er-1.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 4px solid white;
  margin-top: 2%;
}
.sk8-boards {
  @include outer-container(1030px);
  height: 300px;
  background-color: #FCFCFC;

}
.board-list {
  list-style-type: none;
}
.board {
  @include span-columns(1.2);
  margin-top: 2%;
}
.sk8-image {
  border-radius: 25%;
}
.bottom-section {
  @include outer-container(1030px);
  @include pad();
  height: 360px;
  border: 1px solid black;
  background-color: white;
  font-family: "Arial";
  margin-top:3%;

}
fieldset {
  border: none;
}
.contact-us {
  @include span-columns(6.5);
}
.bottom-form {
  @include span-columns(5.5);
  margin-top: 4%;
  width: 100%;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid #888888;
  }
.name-email {
  height: 40px;
}
.message {
  height: 110px;
}
.submit-button {
  width: 25%;
  height: 38px;
  background-color: #B43236;
  color: white;
  margin-left: 73.5%;
  margin-top: 1.5%;
}
.social-button-list {
  list-style-type: none;
  margin-left: -8%;
}
.social {
  float: left;
  padding-right: 0.5%;
}
.social-button {
  height: em(40);
  width: em(40);
}
.ls-social-button {
  display:inline;
  position: absolute;
  right: 14.2%;
  top: -2.5%;
}
.social-btns {
  display:inline-block;
}
.soc-btn {
  height: 65px;
  width: 65px;
}
.fbook {
  background-color: #445897;
}
.twitter {
  background-color: #6A8DC7;
}
.youtube {
  background-color: #B32E2E;

}
.wifi {
  background-color:#CC9034;
}
.facebook {
  background-color:#505050;
}
.tweet {
  background-color:#797979;
}
.tubeyou {
  background-color:#747474;
}
.whyfy {
  background-color:#AFAFAF;
}
input {
  @include placeholder {
    padding-left:2%;

  }
}
.message {
  @include placeholder {
    position: relative;
    top: -35%;
    right: 0%;

  }
}
.skater-button {
  height: 100px;
  width: 225px;
  background-color:#B32E2E;
  color: white;
  font-size: 15px;
}
.skateboarder-button {
  position: relative;
  left: 0;
  top: 0;
  margin-top: -84%;
  margin-left: -5%;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 0 51px 30px;
  border-color: transparent transparent transparent #B32E2E;
  margin-left: 14%;
  margin-top: -6.2%;
}
