@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';


/* --Colors
top button color -#B32E2E */

body {
  background-image: url("../images/bg.jpg");
  background-position: center;
}

.subscribe {
  color: white;
  float: right;
  margin-top: -4%;
  margin-right: 40%;
}
.button-list {
  @include outer-container(1030px);
  list-style-type: none;
}
.button {
  @include span-columns(3);
}
.buttons {
  height: 44px;
  width: 100%;
  background-color: #B32E2E;
}
.top-right-buttons {
  margin-top: 80px;
}
.top-pic-container {
  @include outer-container(1030px);

}
.top-picture {
  border: 1px solid black;
  height: 351px;
  background-image: url("../images/top-image.png");
  background-position: center;
  background-size: cover;
  @include span-columns(12);
}

.three-dots-middle {
  border: 1px solid black;
}
.dots-middle {
  @include outer-container(1030px);
  margin-left: 39%;
}
.dot {
  @include span-columns(1);
  color: white;
}
.articles {
  @include outer-container(1030px);

}
.article {
  @include span-columns(4);
  background-color: white;
  height: 352px
      }
.read-more-button {
  color: red;
  border: none;
  background-color: white;
  margin-left: 37%;

}
.boarder-pics {
  @include outer-container(1030px);
  border: 1px solid lime;
  height: 530px;
}
.boarder-1 {
  @include span-columns(4);
  background-image: url("../images/sk8er-4.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 2px solid white;
}
.boarder-2 {
  @include span-columns(4);
  background-image: url("../images/sk8er-3.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 2px solid white;

}
.boarder-3 {
  @include span-columns(4);
  background-image: url("../images/sk8er-2.png");
  background-position: 78%;
  background-size: cover;
  height: 470px;
  background-repeat: no-repeat;
  border: 2px solid white;
  float: right;
  margin-right: 0;
}
.boarder-4 {
  @include span-columns(8);
  background-image: url("../images/sk8er-1.png");
  background-position: center;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
  border: 2px solid white;
  margin-top: 2.5%;
}
.sk8-boards {
  @include outer-container(1030px);
  height: 300px;
  border: 1px solid red;
  background-color: #FCFCFC;

}
.board-list {
  list-style-type: none;
}
.board {
  @include span-columns(1.15);
}
.sk8-image {
  border-radius: 25%;
}
.bottom-section {
  @include outer-container(1030px);
  height: 360px;
  border: 1px solid black;
  background-color: white;
}
.contact-us {
  @include span-columns(6);
}
.bottom-form {
  @include span-columns(6);
  width: 100%;
}
.name-email {
  height: 40px;
}
.message {
  height: 110px;
}
.submit-button {
  width: 25%;
  height: 38px;
  background-color: red;
  color: white;
  margin-right: 0;
}
.social-button-list {
  list-style-type: none;
}
.social {
  float: left;
}
.social-button {
  height: 32px;
  width: 32px;
}
